<h1>Hola mundo view</h1>
<% @empleados.each do |empleado|%>
<h2><%= link_to empleado.apellido_materno, empleado_path(empleado)%></h2>

<%end%>

<h2><%= link_to "crear empleado", new_empleado_path%></h2>
